{% extends 'base.html.twig' %}

{% block title %}Hello ClientecitaController!{% endblock %}

{% block body %}
<table>
<thead>
<tr>
            <th>Nombre Cliente</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Motivo</th>
            <th>Localizacion</th>
            <th>Confirmacion</th>
<tr>
</thead>
<tbody>
<p>{{ cuenta }}</p>
{% for cliente in listaClientes %}
    <tr>
    <td>{{cliente.nombre}}</td>
    <td>{{cliente.fecha}}</td>
    <td>{{cliente.hora}}</td>
    <td>{{cliente.motivo}}</td>
    <td>{{cliente.localizacion}}</td>
    <td>{{cliente.confirmada}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
